.footer-container {
  /* position: absolute; */
  bottom: 0;
  height: 30%;
  /* width: 100%; */
  padding: 18px 32px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  align-items: center;
  background-color: #2f7457;
}
